@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



:root {
    --font-family: 'Manrope', sans-serif;

    --main-color: #AC771A;
    --btn-color: #704201;
    --card-bg: #F6F5F4;
    --text-color: rgb(24, 24, 24);
    --heading-color: black;
}